<div class="details">
      <div class="description-wrapper">
        <div class="course-header">
          <h1 class="course-topic">{{course1.topic}}</h1> 
          <h1 class="course-title">{{course1.title}}</h1> 
          <h1 class="course-price">COURSE PRICE:  {{course1.price}}</h1> 
          <h1 class="course-language">COURSE Language: {{course1.language}}</h1>
          <h1 class="course-instructor">COURSE INSTRUCTOR: {{course1.instructor}}</h1>
          <h1 class="course-outline">COURSE OUTLINE: {{course1.outline}}</h1>
          <h1 class="course-discountinfo">DISCOUNT INFO: {{course1.discountinfo}}</h1>   
        </div>
      </div>
  </div>